<app-nav></app-nav>

<section class="container py-5">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <h3 class="product-name mb-3">Classic Low Bridge Sunglasses</h3>
      <p class="product-price">£150</p>

      <button class="btn btn-dem w-100 my-4">Add to bag</button>

      <div class="overview-section my-4">
        <h5 class="title">Overview</h5>
        <p class="description mb-0">
          Refresh your style with these laid back sunglasses. An easy-wear oval
          is cut with a keyhole bridge for vintage character. White frames with
          black earpieces, this frame comes with a two year warranty.
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
