<app-nav></app-nav>

<!-- Hero section -->
<div class="container py-5">
  <header class="hero-section">
    <div class="text-container">
      <div class="text-holder">
        <div class="new-arrival-badge">New Arrivals</div>
        <h3 class="title">Classic Low Bridge Sunglasses</h3>
        <h5 class="price">£150</h5>
        <button class="btn btn-dem">Explore &amp; buy</button>
      </div>
    </div>
  </header>
</div>

<section class="container pb-5">
  <div class="row">
    <div class="col-6">
      <app-product></app-product>
    </div>
  </div>
</section>
