<footer class="footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center mx-auto">
        <div class="row w-100">
          <div class="col-md-4">
            <uL class="list-group">
              <li class="list-group-item footer-list">Tr1pp</li>
              <li class="list-group-item footer-list">Case Studies</li>
              <li class="list-group-item footer-list">FAQ page</li>
            </uL>
          </div>
          <div class="col-md-4">
            <uL class="list-group">
                <li class="list-group-item footer-list">Shoppers</li>
                <li class="list-group-item footer-list">Tr1pp Stores</li>
                <li class="list-group-item footer-list">Shopping app</li>
              </uL>
          </div>
          <div class="col-md-4">
            <uL class="list-group">
                <li class="list-group-item footer-list">Business</li>
                <li class="list-group-item footer-list">Become a partner</li>
                <li class="list-group-item footer-list">Developers</li>
              </uL>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
